/* KILL USER AGENT */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
address {
    font-style: normal;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-pad {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-pad-bottom {
    padding-bottom: 120px;
}

:root {
    --color: #434455;
    --background-color: #fff;
    --nav-color: #2e2f42;
    --accent-color: #4d5ae5;
    --accent-color-hover: #404bbf;
    --accent-color-light: #f4f4fd; /* CLOUD */
    --accent-color-medium: #e7e9fc; /* CORNFLOWER */
}

.outline {
    outline: 1px solid red;
}

/*COMMON BODY */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--color);
    background-color: var(--background-color);
}

.list-title {
    color: var(--nav-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.text {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

.link:hover,
.link:focus,
.link.current {
    color: var(--accent-color);
}

.button-pointer {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.card-text {
    padding: 32px 16px;
}

/* HEADER */

.logo {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1, 33;
    text-transform: uppercase;
    color: var(--nav-color);

    margin-right: 75px;
}

.logo-accent {
    color: var(--accent-color);
}

.header-border {
    border-bottom: var(--accent-color-medium) solid 1px;
}

.header {
    display: flex;
}

.header-nav {
    display: flex;
}

.nav-menu {
    color: var(--nav-color);
    font-weight: 500;

    display: flex;
    gap: 40px;
}

.header-contact {
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header .link {
    display: block;
    padding: 24px 0;
}

/* FOOTER */
.logo-light {
    color: var(--accent-color-light);
}

.footer {
    background-color: var(--nav-color);
}

.footer-pad {
    padding: 100px 0;
}

.footer-text {
    color: var(--accent-color-medium);
    width: 264px;
    margin-top: 16px;
}

/* INDEX MAIN */
.hero {
    text-align: center;
    background-color: var(--nav-color);
    padding: 188px 0;
}

.hero-title {
    color: var(--background-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin: 0 auto;
}

.hero-button {
    color: var(--background-color);
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    text-align: center;
    display: inline-block;
    padding: 16px 32px;
    margin-top: 48px;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color-hover);
}

.section-title {
    color: var(--nav-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.section-list {
    display: flex;
    gap: 24px;
}

.list-item {
    width: 264px;
}

.section-bg {
    background-color: var(--accent-color-light);
}

.card {
    background-color: var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    text-align: center;
}

/* PORTFOLIO MAIN */

.portfolio-pad {
    padding: 96px 0 120px 0;
}

.portfolio-button {
    display: flex;
    justify-content: center;
    gap: 24px;

    margin-bottom: 72px;
}

.filter-button {
    color: var(--accent-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color-light);
    border: 1px solid var(--accent-color-medium);
    border-radius: 4px;

    display: inline-block;
    padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: 360px;
}

.portfolio .card-text {
    border: var(--accent-color-medium) solid 1px;
    border-top: 0;
}
